# Project exclude paths
/deps/
/.idea
/deps
/_build
/priv/certs
/priv/site_encrypt
.claude
/elixir_ls
erl_crash.dump
.env*
!.env.template
/priv/gateway.yaml
gateway.yaml
/dns_providers/cloudflare.ini
